<h1>Places You've Been!</h1>

<p>Here is a list of all the places you have been too!</p>

<ul>
  <% @places.each() do |place| %>
  <li><%= place.places() %>
  <% end %>
</ul>

<p>Add a new place you have visited!!</p>

<form  action="/been_there" method="post">
  <label for="place">Place visited</label>
  <input id="place" name="place" type="text">

  <button type="submit">Add it to the list!</button>
</form>
